{% extends "pages/generic.html" %}
{% load static %}

{% block generic_page %}
<section id="post" class="wrapper bg-img" data-bg="">
    <div class="inner">
        <article class="box">
            <header>
                <h2>About Pet Project</h2>
            </header>
            <div class="content">
                <p>Мой первый проект на Джанго. Вполне интересно получилось. Изучайте то что вам по душе и не бойтесь пробовать новое!
                    Когда-нибудь мы оглянемся назад и вспомним как мимолетно и легко нам удалось преодолеть все трудности, почти так же легко как засветить плёнку)</p>
            </div>
        </article>
    </div>
</section>
{% endblock %}